<p style="color: green"><%= notice %></p>

<h1>Kindergartens</h1>

<div id="kindergartens">
  
  <% @kindergartens.each do |kindergarten| %>
    

    <%= render kindergarten %>
    <p>
      <%= link_to "Mostrar esta guardería", kindergarten %>
    </p>
  <% end %>
</div>
<%= paginate @kindergartens %>
<%= link_to "Nueva guardería", new_kindergarten_path %>
